body {
	font-family: 'Ubuntu', sans-serif;
	overflow-y: scroll;
}

a:hover, a:focus {
	text-decoration: none;
}

nav.navbar.navbar-default.navbar-static-top {
	margin-bottom: 0px;
}

div.btn-group.nav-buttongroup {
	margin-top: 10px;
}

div.panel.panel-default.sidebar-panel-item {
	border: 0.1px solid transparent;
}

.page-header {
	margin: 20px 0 20px;
}

/* reactable.jsx table */
th {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 10px;
	background: #2a6496;;
	color: #fff;
}

input.reactable-filter-input {
	font-size: 30px;
	margin-left: -7px;
}

a.reactable-page-button.reactable-current-page {
	padding: 5px;
	background-color: lightblue;
	margin: 10px;
}

a.reactable-page-button {
	padding: 5px;
}

/* index.jsx tiles */

.dummy {
    margin-top: 100%;
}

p.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
	background-color: #2a6496;
}

p.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #428bca;
	background-color: #f5f5f5;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #428bca;
	background-color: #f5f5f5;
}

/* sigma.js graphs */

#sigma1 {
	max-width: 400px;
	height: 400px;
	margin: auto;
	border: 1px solid black;
}

/* graphs */

